@using AppCore.DtoModels.User;
@model LogInUser
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ورود </title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <!-- Sing in  Form -->
        <section class="ورود">
            <div class="container">
                <div class="signin-content" style="direction:rtl">
                    <div class="signin-image">
                        <figure><img src="~/images/signin-image.jpg" alt="sing In image"></figure>
                    
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">ورود</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label asp-for="UserName"></i></label>
                                <input type="text" asp-for="UserName" id="your_name" placeholder="یوزرنیم" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input type="password" asp-for="Password" id="your_pass" placeholder="پسورد" />
                            </div>
                            <div class="form-group">
                                <input type="checkbox" asp-for="IsRememberMe" id="remember-me" checked="checked" class="agree-term" />
                                <label asp-for="IsRememberMe" class="label-agree-term"><span><span></span></span> مرا بخاطر بسپار</label>
          
                            
                            </div>
                            <div class="form-group form-button">
                                <div class=" d-flex justify-content-around">
                                    <button asp-controller="Account" asp-action="LogIn" asp-route-id="1" type="submit" id="signin" class="btn">ورود</button>
                                    <button type="submit" class="signup-image-link btn" asp-controller="Account" asp-action="Register" asp-route-id="1"> ثبت نام</button>
                                </div>
 
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">یا ورود با: </span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/main2.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

