
@using AppCore.DtoModels.Customer


@{
    Layout = "_Layout_3";
}

@model FullDetailCustomerViewModel

<div class="container m-5">
    <div class="row m-2" >
        <div class="d-flex justify-content-start">
            @if (!Model.IsDeleted)
            {
                <a class="btn btn-danger m-1" asp-controller="Account" asp-action="DeleteUser" asp-route-id="@Model.Id">حذف کاربر</a>
            }
            @if (!Model.IsDeleted && Model.IsActive == false)
            {
                <a class="btn btn-danger m-1" asp-controller="Account" asp-action="ActiveUser" asp-route-id="@Model.Id">برگرداندن کاربر</a>
            }
            @if (Model.IsDeleted)
            {
                <div class="container">
                    <div class="row">
                        <h4> این کاربر به دلیل زیر حذف شده است:</h4>
                    </div>
                    <div class="row">
                        <h5>@Model.DeleteComment</h5>
                    </div>
                    <div class="row">
                        <a class="btn btn-danger" asp-controller="Account" asp-action="ActiveUser" asp-route-id="@Model.Id">برگرداندن کاربر</a>
                    </div>
                </div>

            }
        </div>

    </div>
    <div class="row">
        <div class="card card-info justify-content-center ">
            <div class="card-header">
                <h3 class="card-title">مشخصات</h3>
            </div>
           
            <form class="card-body" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">آیدی</span>
                    </div>
                    <input type="number" class="form-control" asp-for="Id">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">نام</span>
                    </div>
                    <input type="text" class="form-control" asp-for="FirstName" placeholder="نام ">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">نام خانوادگی</span>
                    </div>
                    <input type="text" class="form-control" asp-for="LastName" placeholder="نام خانوادگی">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input type="email" class="form-control" asp-for="Email" placeholder="ایمیل">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                    </div>
                    <input type="text" class="form-control " asp-for="PhoneNumber" placeholder="شماره همراه">
                </div>
                <!-- /.row -->
                <!-- /input-group -->

                @if (Model.IsActive==true)
                {
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="submit" class="btn btn-danger" asp-controller="Account" asp-action="CustomerProfile">ویرایش</button>
                        </div>
                        <!-- /btn-group -->

                    </div>
                 }


                <!-- /input-group -->
                <!-- /input-group -->
            </form>



           
            <!-- /.card-body -->
        </div>
    </div>
</div>


