@using FinalProject_Market.Areas.Admin.Models.ViewModels

@model RegisterViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style6.css">
</head>
<body>

    <div class="main" style="direction:rtl">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">ثبت نام</h2>
                        <div asp-validation-summary="All" ></div>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label asp-for="UserName"></label>
                                <input type="text" asp-for="UserName" id="name" />
                                <span asp-validation-for="UserName"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input type="email" asp-for="Email" id="email" />
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input type="password" asp-for="Password" id="pass" />
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber"></label>
                                <input type="text" asp-for="PhoneNumber" id="re_pass" />
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>

                            <div class="form-group form-button">
                                <button type="submit" asp-controller="Account" asp-action="Register" asp-route-id="@Model.Id" id="signup" class="form-submit">ثبت نام</button>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/SellerLogIn/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sing in  Form -->
        @*<section class="sign-in">
                <div class="container">
                    <div class="signin-content">
                        <div class="signin-image">
                            <figure><img src="~/SellerLogIn/images/signup-image.jpg alt="sing up image"></figure>
                            <a href="#" class="signup-image-link">Create an account</a>
                        </div>

                        <div class="signin-form">
                            <h2 class="form-title">Sign up</h2>
                            <form method="POST" class="register-form" id="login-form">
                                <div class="form-group">
                                    <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="your_name" id="your_name" placeholder="Your Name" />
                                </div>
                                <div class="form-group">
                                    <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                    <input type="password" name="your_pass" id="your_pass" placeholder="Password" />
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                    <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                                </div>
                                <div class="form-group form-button">
                                    <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                                </div>
                            </form>
                            <div class="social-login">
                                <span class="social-label">Or login with</span>
                                <ul class="socials">
                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>*@

    </div>

    <!-- JS -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/main2.js"></script>
    <script src="~/SellerPannel/js/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>