@using AppCore.DtoModels;
@model PavilionDtoModel


<form method="get" action="/search/" id="searchFormInput" class="search-form" accept-charset="utf-8">
    <input id="search-query-input" class="search-text search-text-ir" placeholder="نام کالا را وارد کنید" type="text" name="query" autocomplete="off" tabindex="1" value="" style="font-size: 16px;">
    <div class="search-btn search-btn-ir">
        <div class="svg_style ">
            <svg fill="white" height="33" viewBox="0 0 24 24" width="33" xmlns="http://www.w3.org/2000/svg" title="search">
            </svg>
        </div>
    </div>
</form>