@using AppCore.DtoModels.Product;


@model DetailedProductDto

@{
    Layout = "_Layout.cshtml";
}


<div class="page-wrapper">
    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="assets/images/products/single/1.jpg"
                                            data-zoom-image="assets/images/products/single/1-big.jpg"
                                            alt="تصویر محصول">

                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure><!-- End .product-main-image -->

                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    <a class="product-gallery-item active" href="#"
                                        data-image="assets/images/products/single/1.jpg"
                                        data-zoom-image="assets/images/products/single/1-big.jpg">
                                        <img src="assets/images/products/single/1-small.jpg"
                                                alt="توضیحات تصویر">
                                    </a>

                                    <a class="product-gallery-item" href="#"
                                        data-image="assets/images/products/single/2.jpg"
                                        data-zoom-image="assets/images/products/single/2-big.jpg">
                                        <img src="assets/images/products/single/2-small.jpg"
                                                alt="توضیحات تصویر">
                                    </a>

                                    <a class="product-gallery-item" href="#"
                                        data-image="assets/images/products/single/3.jpg"
                                        data-zoom-image="assets/images/products/single/3-big.jpg">
                                        <img src="assets/images/products/single/3-small.jpg"
                                                alt="توضیحات تصویر">
                                    </a>

                                    <a class="product-gallery-item" href="#"
                                        data-image="assets/images/products/single/4.jpg"
                                        data-zoom-image="assets/images/products/single/4-big.jpg">
                                        <img src="assets/images/products/single/4-small.jpg" alt="product back">
                                    </a>
                                </div><!-- End .product-image-gallery -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">لباس زنانه رنگ زرد تیره</h1>
                            <!-- End .product-title -->

                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <a class="ratings-text" href="#product-review-link" id="review-link">
                                    ( 2 نظر
                                    )
                                </a>
                            </div><!-- End .rating-container -->

                            <div class="product-price">
                                84,000 تومان
                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                    سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
                                    ساختگی با تولید سادگی نامفهوم
                                </p>
                            </div><!-- End .product-content -->

                            <div class="details-filter-row details-row-size">
                                <label>رنگ : </label>

                                <div class="product-nav product-nav-thumbs">
                                    <a href="#" class="active">
                                        <img src="assets/images/products/single/1-thumb.jpg" alt="product desc">
                                    </a>
                                    <a href="#">
                                        <img src="assets/images/products/single/2-thumb.jpg" alt="product desc">
                                    </a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .details-filter-row -->



                            <div class="product-details-action">
                                <a href="#" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>

                            </div><!-- End .product-details-action -->

                            <div class="product-details-footer">
                                <div class="product-cat text-center">
                                    <span>دسته بندی : </span>
                                    <a href="#">زنانه</a>،
                                    <a href="#">لباس</a>،
                                    <a href="#">زرد</a>
                                </div><!-- End .product-cat -->

                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->


        </div><!-- End .container -->
    </div><!-- End .page-content -->
</div>
